.main{
    &__container{
        width: 600px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        padding: 40px;
        background: rgb(236, 236, 236);
        border-radius: 5px;
    }
}

.event{

    &__inputs{
        position: relative;
    }

    &__btn{
        position: absolute;
        right: 100px;
        bottom: -30px;
        color: $col-brand;
        border: 2px solid $col-brand;
        background: rgb(236, 236, 236);
        padding: 5px 15px;
        cursor: pointer;
        transition: all .3s ease;
        &:hover{
            background: $col-brand;
            color: rgb(236, 236, 236);
        }
        &:focus{
            outline: none;
        }
    }

    &__container{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    &__name {
        &:not(:last-child){
            margin-right: 60px;
        }
    }

}