@keyframes ripple {
    0% {
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
    }
    50% { 
      box-shadow: 0px 0px 0px $radio-ripple-size rgba(0, 0, 0, 0.1);
    }
    100% {
      box-shadow: 0px 0px 0px $radio-ripple-size rgba(0, 0, 0, 0);
    }
  }

.radio{
    
    &__input{
        &_container{
            width: 300px;
            margin: 65px auto;
            display: flex;
            flex-direction: column;
        }
    }

    margin: 16px 0;
    
    &.radio-inline {
        display: inline-block;
    }

    input[type="radio"] {
        display: none;
        &:checked + label:before {
            border-color: $radio-checked-col;
            animation: ripple 0.2s linear forwards;   
        }
        &:checked + label:after {
            transform: scale(1);
        }
}
}

label {
    display: inline-block;
    height:$radio-size;
    position: relative;
    padding: 0 ($radio-size + 10px);
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom;
    &:before, &:after {
        position: absolute;            
        content: '';  
        border-radius: 50%;
        transition: all .3s ease;
        transition-property: transform, border-color;
    }
    &:before {
        left: 0;
        top: 0;
        width: $radio-size;
        height: $radio-size;
        border: 2px solid $radio-border-col;
    }
    &:after {
        top: 7px;
        left: 7px;
        width:$radio-checked-size;
        height:$radio-checked-size;
        transform: scale(0);
        background:$radio-checked-col;
    }

}