@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);
@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0); }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1); }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0); } }

.radio {
  margin: 16px 0; }
  .radio__input_container {
    width: 300px;
    margin: 65px auto;
    display: flex;
    flex-direction: column; }
  .radio.radio-inline {
    display: inline-block; }
  .radio input[type="radio"] {
    display: none; }
    .radio input[type="radio"]:checked + label:before {
      border-color: #2b3857;
      animation: ripple 0.2s linear forwards; }
    .radio input[type="radio"]:checked + label:after {
      transform: scale(1); }

label {
  display: inline-block;
  height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom; }
  label:before, label:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: all .3s ease;
    transition-property: transform, border-color; }
  label:before {
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc; }
  label:after {
    top: 7px;
    left: 7px;
    width: 10px;
    height: 10px;
    transform: scale(0);
    background: #2b3857; }

.main__container {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background: #ececec;
  border-radius: 5px; }

.event__inputs {
  position: relative; }

.event__btn {
  position: absolute;
  right: 100px;
  bottom: -30px;
  color: #2d3b5c;
  border: 2px solid #2d3b5c;
  background: #ececec;
  padding: 5px 15px;
  cursor: pointer;
  transition: all .3s ease; }
  .event__btn:hover {
    background: #2d3b5c;
    color: #ececec; }
  .event__btn:focus {
    outline: none; }

.event__container {
  display: flex;
  justify-content: center;
  flex-direction: row; }

.event__name:not(:last-child) {
  margin-right: 60px; }

body {
  background: #e2e1e0; }
